#content-right .form {
  width: 100%;
  height: 48px;
  background: #fff;
  padding: 0 0 0 20px;
  box-sizing: border-box;
  margin-bottom: 15px; }
  #content-right .form .item {
    margin-right: 10px;
    overflow: hidden;
    float: left; }
    #content-right .form .item label {
      width: auto;
      line-height: 48px;
      float: left;
      font-size: 12px; }
    #content-right .form .item .input {
      width: auto;
      height: 100%;
      float: left;
      font-size: 12px;
      color: #333333; }
      #content-right .form .item .input select {
        width: 120px;
        height: 20px;
        border: 1px solid #cccccc;
        border-radius: 5px;
        margin-top: 14px; }
      #content-right .form .item .input input.time {
        width: 120px;
        height: 20px;
        border: 1px solid #cccccc;
        border-radius: 5px;
        margin-top: 12px; }
      #content-right .form .item .input input.num {
        width: 30px;
        height: 20px;
        border: 1px solid #cccccc;
        border-radius: 5px;
        margin-top: 12px;
        margin-right: 5px; }
      #content-right .form .item .input button.submit {
        width: 80px;
        height: 25px;
        background: #3a8dcc;
        color: #fff;
        border: none;
        border-radius: 5px;
        margin-top: 11px;
        margin-left: 5px; }
#content-right .table1 {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden; }
  #content-right .table1 table {
    width: 100%; }
    #content-right .table1 table thead {
      width: 100%;
      background: #3a8dcc;
      height: 36px; }
      #content-right .table1 table thead tr {
        width: 100%;
        height: 36px; }
        #content-right .table1 table thead tr td {
          width: 11.11%;
          color: #fff;
          height: 36px;
          line-height: 36px;
          font-size: 14px;
          text-align: center;
          font-weight: bold;
          padding-left: 10px;
          box-sizing: border-box; }
        #content-right .table1 table thead tr td:nth-child(1) {
          width: 10%; }
          #content-right .table1 table thead tr td:nth-child(1) div {
            cursor: pointer;
            text-align: left;
            padding-left: 15px;
            box-sizing: border-box;
            background: url("../../static/img/all_check.png") no-repeat;
            background-position: left center; }
          #content-right .table1 table thead tr td:nth-child(1) div.on {
            background: url("../../static/img/all_check_on.png") no-repeat;
            background-position: left center; }
        #content-right .table1 table thead tr td:nth-child(2) {
          width: 10%; }
        #content-right .table1 table thead tr td:nth-child(3) {
          width: 10%; }
        #content-right .table1 table thead tr td:nth-child(4) {
          width: 10%; }
        #content-right .table1 table thead tr td:nth-child(5) {
          width: 10%; }
        #content-right .table1 table thead tr td:nth-child(6) {
          width: 10%; }
        #content-right .table1 table thead tr td:nth-child(7) {
          width: 10%; }
        #content-right .table1 table thead tr td:last-child {
          width: 20%; }
          #content-right .table1 table thead tr td:last-child div span {
            color: #3a8dcc; }
            #content-right .table1 table thead tr td:last-child div span img {
              margin-right: 2px; }
    #content-right .table1 table tbody {
      width: 100%;
      background: #fff;
      height: 36px; }
      #content-right .table1 table tbody tr {
        width: 100%;
        height: 36px;
        overflow: hidden; }
        #content-right .table1 table tbody tr td {
          color: #333333;
          height: 36px;
          line-height: 36px;
          font-size: 14px;
          text-align: center;
          border-bottom: 1px solid #d6e6f4; }
        #content-right .table1 table tbody tr td:nth-child(1) {
          width: 10%;
          padding-left: 10px;
          box-sizing: border-box; }
          #content-right .table1 table tbody tr td:nth-child(1) div {
            cursor: pointer;
            text-align: left;
            padding-left: 15px;
            box-sizing: border-box;
            background: url("../../static/img/check.png") no-repeat;
            background-position: left center; }
          #content-right .table1 table tbody tr td:nth-child(1) div.on {
            background: url("../../static/img/check_on.png") no-repeat;
            background-position: left center; }
        #content-right .table1 table tbody tr td:nth-child(2) {
          width: 10%; }
        #content-right .table1 table tbody tr td:nth-child(3) {
          width: 10%; }
        #content-right .table1 table tbody tr td:nth-child(4) {
          width: 10%; }
        #content-right .table1 table tbody tr td:nth-child(5) {
          width: 10%; }
        #content-right .table1 table tbody tr td:nth-child(6) {
          width: 10%; }
        #content-right .table1 table tbody tr td:nth-child(7) {
          width: 10%; }
        #content-right .table1 table tbody tr td:nth-child(8) {
          width: 20%; }
          #content-right .table1 table tbody tr td:nth-child(8) div span {
            color: #3a8dcc;
            margin-right: 5px;
            cursor: pointer; }
            #content-right .table1 table tbody tr td:nth-child(8) div span img {
              margin-right: 2px; }
  #content-right .table1 .table-bottom {
    width: 100%;
    background: #fff;
    overflow: hidden;
    height: 55px; }
    #content-right .table1 .table-bottom .delect {
      display: block;
      float: left;
      text-align: center;
      width: 80px;
      height: 25px;
      background: #3a8dcc;
      color: #fff;
      border: none;
      border-radius: 5px;
      margin-top: 11px;
      margin-left: 5px;
      position: relative; }
      #content-right .table1 .table-bottom .delect input {
        width: 100%;
        height: 100%;
        opacity: 0;
        position: absolute;
        left: 0;
        top: 0; }
    #content-right .table1 .table-bottom .delects {
      display: block;
      float: left;
      text-align: center;
      width: 350px;
      height: 25px;
      color: #fff;
      border: none;
      border-radius: 5px;
      margin-top: 11px;
      margin-left: 5px; }
    #content-right .table1 .table-bottom .page {
      float: right;
      color: #959595;
      margin-top: 11px;
      margin-right: 5px; }
      #content-right .table1 .table-bottom .page button {
        width: 54px;
        height: 28px;
        border: 1px solid #cfddea;
        background: #fff;
        line-height: 28px;
        font-size: 12px;
        display: inline-block; }

/*# sourceMappingURL=student_list.css.map */
